kafka{
     topic = "kariz"
     consumer{
         "bootstrap.servers" = ["localhost:9092"]
      //   "group.id" = test6
         "enable.auto.commit"= false
       //  "auto.offset.reset" = latest
         "max.poll.records" = 10000

     }
     producer{
         "bootstrap.servers" = ["localhost:9092"]
         "acks" = "1"
         "compression.type" = lz4
         "batch.size" = 102400
         "client.id" = ali
         "linger.ms" = 50
         "delivery.timeout.ms" = 5000
         "max.block.ms" = 4000
         "request.timeout.ms" = 3000
     }
}



rest {
    redisMaxRate=10000
    port = 7070
    ip = 0.0.0.0
    path = cache
    replace{
        from = "http://"
        to = "https://"
    }
}
